// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0c3c64;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
// $green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #ffffff;
$nav-font-color: #125394;
$link-hover-color: #ffffff;
$link-hover-color2:#125394;
$primary:#4d7092;
$primary-darker: #243b52;

$color-error-background: #fff6f6;
$color-error-border: #e0b4b4;
$color-error-color: #9f3a38;

$box-shadow-1: 0 7px 20px -10px #00000033;
$box-shadow-2: 0 7px 20px -10px #00000055;